<nav class="d-flex flex-column flex-sm-row justify-content-between bg-light p-4">
    <div>
        <a href=""><img src="../assets/pc-icon.png" width="40px" class="d-inline-block align-top" /></a>
    </div>
    <div class="d-flex justify-content-end align-items-center">
        <ul class="navbar-nav d-flex flex-row">
            <li class="navbar-item">
                <a class="nav-link" href="">Home</a>
            </li>
            <li class="navbar-item">
                <span class="nav-link mx-4">|</span>
            </li>
            <li class="navbar-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/about">About</a>
            </li>
            <li class="navbar-item">
                <span class="nav-link mx-4">|</span>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="" routerLink="/add">Add</a>
            </li>
            <li class="navbar-item">
                <span class="nav-link mx-4">|</span>
            </li>
            <li class="navbar-item">
                <a class="nav-link me-4" routerLink="/private" href="">Help</a>
            </li>
            <li class="navbar-item">
                <button (click)="navigateTo('/products/cart')" class="btn btn-dark"> <i class="bi bi-cart3"></i> Your
                    Cart
                </button>
            </li>
        </ul>
    </div>
</nav>