<div class="container" *ngIf="products.length">
    <div class="row">
        <div class="col-12 col-md-3">
            <app-aside [selectedProduct]="product" [products]="products" [filterState]="filterState"
                (orderHighestPriceEvent)="setFilters('filterHigh')"
                (resetProductsFilterEvent)="setFilters('resetProductsFilter')"
                (orderLowestPriceEvent)="setFilters('filterLow')"
                (showHigherPriceEvent)="setFilters('showHighProducts')"
                (selectProductEvent)="selectProduct($event)"></app-aside>
        </div>
        <section class="col-12 col-md-9" [ngClass]="product.favorite? 'bg-secondary text-light' : ''">
            <div class="row">
                <app-product-view [product]="product" (addToCartEvent)="addToCart($event)"
                    (deleteProductEvent)="deleteProduct($event)" (addToWishListEvent)="changeFavoriteValue($event)">
                </app-product-view>
                <app-similar-products [product]="product"></app-similar-products>
            </div>

            <div *ngIf="product.reviews" class="row p-4">
                <app-reviews [product]="product"></app-reviews>
            </div>
        </section>
    </div>
</div>