.bg-image{
    background-image: url(../../../../../assets/about-us/subscription-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
}