<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
  <div class="container">
    <!-- Nav -->
    <app-header></app-header>

    <div class="row">
      <div class="col-12 col-md-3">
        <app-aside [product]="product" [products]="products" (orderHighestPriceEvent)="orderHighestPrice()"
          (resetFilterEvent)="resetFilter()" (selectProductEvent)="selectProduct($event)"></app-aside>
      </div>

      <section class="col-12 col-md-9">
        <div class="row">
          <!-- Product -->
          <app-product [product]="product" (deleteProductEvent)="deleteProduct($event)">
          </app-product>
          <!-- Similar Products -->
          <app-similar-products [product]="product"></app-similar-products>
        </div>

        <div *ngIf="product.reviews" class="row p-4">
          <!-- Reviews -->
          <app-reviews [product]="product"></app-reviews>
        </div>
      </section>

      <!-- footer -->
      <app-footer></app-footer>
    </div>
  </div>
</body>

<router-outlet></router-outlet>