$breakpoints: (
  "": 576px,
  "tablet": 768px,
  "desktop": 992px,
  "full-desktop": 1200px,
);
$columns: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12);
$widths: (10, 20, 30, 40, 50, 60, 70, 80, 90, 100);

.l-columns {
  display: grid;
  gap: 15px;

  @for $i from 1 through length($columns) {
    &--#{$i} {
      grid-template-columns: repeat($i, 1fr);
    }

    &__area--span-#{$i} {
      grid-column: span $i;
    }
  }

  @each $breakpoint, $width in $breakpoints {
    $separator: \@;

    @if ($breakpoint == "") {
      $separator: "";
    }

    @for $i from 1 through length($columns) {
      &--#{$i}#{$separator}#{$breakpoint} {
        grid-template-columns: repeat($i, 1fr);
      }

      &__area--span-#{$i}#{$separator}#{$breakpoint} {
        grid-column: span $i;
      }
    }
  }
}

@each $width in $widths {
  .width-#{$width}{
    width: $width;
  }
}

.main {
  max-width: 100%;
  overflow-x: hidden;
  margin-left: 0;
  margin-right: 0;
}


.img-similar-products{
  width: 150px;
}

a:hover{
  cursor: pointer;
}


