<h3 class="text-dark text-center my-5">My Cart: </h3>
<div *ngIf="cart.productList.length" class="text-center">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Currency</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of cart.productList">
                <td scope="row">{{ product.name }}</td>
                <td>{{ product.currency }}</td>
                <td>{{ product.price }}</td>
                <td><button (click)="deleteFromCart(product)" class="btn btn-light"> X </button></td>
            </tr>
        </tbody>
    </table>
</div>