<div class="container border-top">
    <div class="my-5 personal-info">
        <h1 class="text-center text-mutted">Personal info</h1>
        <p class="mt-5">Lorem ipsum dolor sit amet consectetur adipiscing elit dignissim mattis elementum himenaeos,
            convallis at
            diam
            conubia congue non laoreet porttitor praesent magnis. Euismod vel fringilla erat at aenean rhoncus fames
            cursus
            faucibus feugiat ornare, posuere iaculis mauris ultricies dui neque mus metus accumsan risus, purus curae
            habitant facilisi velit cras penatibus tincidunt tristique conubia. Elementum mauris sed curabitur ante
            euismod
            lacinia ad, ridiculus justo sapien morbi feugiat donec sociis, suspendisse vehicula tempus gravida nunc
            semper.
        </p>
        <p class="mb-5">
            Libero nibh magnis augue sapien vel tempus tempor laoreet non enim, malesuada lectus id arcu ut tortor nisi
            accumsan purus, cras montes vestibulum velit vehicula mollis scelerisque tristique ultrices. Ad congue orci
            tincidunt nam enim tellus nascetur ullamcorper parturient eget, diam euismod risus egestas in ridiculus
            metus
            montes venenatis iaculis, dapibus hendrerit libero non aenean fermentum justo taciti donec. Urna ac at
            posuere
            ante mauris luctus eu lobortis litora, enim tellus habitant cubilia tincidunt nibh dapibus montes iaculis
            euismod, leo fringilla class porttitor elementum condimentum ultricies dis.
        </p>
    </div>
</div>