<div class="row border-top">
    <div class="col-12 col-md-5">
        <img src="../assets/products/{{product.id}}.png" class="w-100 align-items-center" alt="">
    </div>
    <div class="col-12 col-md-7 d-flex flex-column p-4">
        <div class="d-flex flex-row justify-content-between align-items-center">
            <h1>{{product.name}}</h1>
            <button (click)="addToWishList(product.favorite)" class="btn btn-lg border-0">
                <i class="bi" [ngClass]="product.favorite? 'bi-heart-fill text-danger': 'bi-heart'">
                </i>
            </button>
        </div>
        <h5><app-stars-rating [rating]="product.rating"></app-stars-rating> </h5>
        <h5 class="text-muted">{{product.reviews?.length}} Reviews </h5>
        <hr class="my-5">
        <h1> {{product.price}}{{product.currency}} </h1>
        <hr class="my-5">
        <p> {{product.description}} </p>
        <hr class="mt-5 mb-4">
        <div class="d-flex gap-3 align-items-center">
            <button class="btn btn-success w-50 mb-4" (click)="addToCart(product)">Add
                <i class="bi bi-cart-plus-fill"></i></button>
            <button class="btn btn-dark w-25 mb-4" (click)="deleteProduct(product)">
                <i class="bi bi-x-circle"></i></button>
        </div>
    </div>
</div>