<div class="row my-5 mx-5">
    <h3 class="text-center"> About us </h3>
    <div class="d-flex flex-sm-row flex-column gap-5">
        <div>
            <img src="../../../../../assets/about-us/products.png" class="w-100 mt-5 mb-4" alt="">
            <h3 class="mb-5">Products description</h3>
            <p>Disponemos de todo tipo de componentes habidor y por haber para diseñar tu ordenador ideal</p>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit quam, interdum sodales nullam sem sociosqu
                iaculis
                risus vulputate, facilisi libero inceptos placerat eget conubia sed.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit quam, interdum sodales nullam sem sociosqu
                iaculis
                risus vulputate, facilisi libero inceptos placerat eget conubia sed. Sed commodo non sapien primis
                porttitor torquent magnis facilisis, justo conubia bibendum neque elementum urna porta hac, nullam
                tristique eleifend quisque tellus proin aliquam.</p>
        </div>
        <div>
            <img src="../../../../../assets/about-us/team.jpg" class="w-100 mt-5 mb-4" alt="">
            <h3 class="mb-5">Team description</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit quam, interdum sodales nullam sem sociosqu iaculis
                risus vulputate, facilisi libero inceptos placerat eget conubia sed.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit quam, interdum sodales nullam sem sociosqu iaculis
                risus vulputate, facilisi libero inceptos placerat eget conubia sed. Sed commodo non sapien primis
                porttitor torquent magnis facilisis, justo conubia bibendum neque elementum urna porta hac, nullam
                tristique eleifend quisque tellus proin aliquam.</p>
        </div>
    </div>
</div>